{{ if eq .chezmoi.os "darwin" -}}
unlet! skip_defaults_vim
source $VIMRUNTIME/defaults.vim
{{ end -}}

" Basic
set number
set expandtab
set tabstop=4
set shiftwidth=0
set hlsearch
set ignorecase

" Keybindings
nmap <Esc><Esc> :nohlsearch<Enter>

" Make
autocmd FileType make setlocal noexpandtab
